<div class="app-contenedor">
  <div class="tarjeta-pantalla">
    
    <header class="header-pantalla">
      <h2>¡Hola, {{ nombreUsuario }}!</h2>
    </header>

    <section class="seccion-panel">
      <h3 class="titulo-seccion">Resumen de biblioteca</h3>
      <div class="contenedor-resumen">
        
        <div class="tarjeta-resumen tarjeta-leido">
          <span class="numero-resumen">{{ totalLeidos }}</span>
          <span class="etiqueta-resumen">Leído</span>
        </div>
        
        <div class="tarjeta-resumen tarjeta-por-leer">
          <span class="numero-resumen">{{ totalPorLeer }}</span>
          <span class="etiqueta-resumen">Por leer</span>
        </div>
        
        <div class="tarjeta-resumen tarjeta-prestado">
          <span class="numero-resumen">{{ totalPrestados }}</span>
          <span class="etiqueta-resumen">Prestado</span>
        </div>
        
      </div>
    </section>

    <section class="seccion-panel">
      <h3 class="titulo-seccion">Lecturas recientes</h3>

      <p *ngIf="lecturasRecientes.length === 0">
        Aún no tienes libros registrados.
      </p>

      <div class="lista-lecturas">
        
        <div class="item-libro" *ngFor="let libro of lecturasRecientes">
          <div class="portada-libro portada-azul"></div>

          <div class="info-libro">
            <h4>{{ libro.titulo }}</h4>
            <div class="estrellas">{{ obtenerEstrellas(libro.calificacion) }}</div>
          </div>

          <span 
            class="badge"
            [class.badge-leido]="libro.estado === 'leído'"
            [class.badge-por-leer]="libro.estado === 'por leer'">
            {{ libro.estado }}
          </span>
        </div>

      </div>
    </section>

    <div class="navbar-inferior">
      <div class="nav-item active">
        <div class="nav-icono emoji-nav-grande">🏠</div>
        <span class="nav-texto">Inicio</span>
      </div>
      
      <div class="nav-item" routerLink="/mislibros" style="cursor: pointer;">
        <div class="nav-icono emoji-nav-grande">📚</div>
        <span class="nav-texto">Mis libros</span>
      </div>
      
      <div class="nav-item" routerLink="/agregareditar" style="cursor: pointer;">
        <div class="nav-icono emoji-nav-grande">➕</div>
        <span class="nav-texto">Agregar</span>
      </div>
      
      <div class="nav-item" routerLink="/prestamos" style="cursor: pointer;">
        <div class="nav-icono emoji-nav-grande">🔖</div>
        <span class="nav-texto">Préstamos</span>
      </div>
      
      <div class="nav-item">
        <div class="nav-icono emoji-nav-grande" routerLink="/configuracion" style="cursor: pointer;">👤</div>
        <span class="nav-texto">Perfil</span>
      </div>
    </div>

  </div>
</div>