<div class="tarjeta-pantalla">

  <h1 class="titulo-seccion">Configuración</h1>

  <div class="contenedor-tabs-config">
    <button class="tab-config-btn" [class.activo]="pestanaActiva === 'perfil'" (click)="cambiarPestana('perfil')">Perfil</button>
    <button class="tab-config-btn" [class.activo]="pestanaActiva === 'preferencias'" (click)="cambiarPestana('preferencias')">Prefe..</button>
    <button class="tab-config-btn" [class.activo]="pestanaActiva === 'seguridad'" (click)="cambiarPestana('seguridad')">Seguridad</button>
  </div>

  <div *ngIf="pestanaActiva === 'perfil'">
    <div class="bloque-perfil-superior">
      <div class="zona-foto-avatar">
        <div class="circulo-avatar">
          <svg viewBox="0 0 24 24" fill="none" stroke="#666666" stroke-width="1.5"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
        </div>
        <button type="button" class="btn-cambiar-foto">cambiar foto</button>
      </div>
      <div class="zona-inputs-cortos">
        <div class="grupo-campo">
          <label class="etiqueta-label">Nombre</label>

          <div style="display:flex; gap:10px;">
            <input
              type="text"
              [value]="usuario"
              [readonly]="!editandoUsuario">

            <button
              type="button"
              class="boton-morado"
              (click)="toggleUsuario()">

              {{ editandoUsuario ? 'Guardar' : 'Editar' }}

            </button>
          </div>
        </div>

        <div class="grupo-campo">
          <label class="etiqueta-label">Correo</label>

          <div style="display:flex; gap:10px;">
            <input
              type="email"
              [value]="correo"
              [readonly]="!editandoCorreo">

            <button
              type="button"
              class="boton-morado"
              (click)="toggleCorreo()">

              {{ editandoCorreo ? 'Guardar' : 'Editar' }}

            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="grupo-campo ancho-completo">
      <label class="etiqueta-label">Biografía</label>
      <textarea class="area-texto-local" placeholder="Escribe algo sobre ti..."></textarea>
    </div>
  </div>

  <div *ngIf="pestanaActiva === 'preferencias'">
    <div class="grupo-campo ancho-completo">
      <label class="etiqueta-label">Idioma de la aplicación</label>
      <input type="text" class="campo-texto-local" value="Español (México)">
    </div>
  </div>

  <div *ngIf="pestanaActiva === 'seguridad'">
    <div class="grupo-campo ancho-completo">
      <label class="etiqueta-label">Contraseña Actual</label>
      <input type="password" class="campo-texto-local" placeholder="********">
    </div>
    <button type="button" class="boton-morado" style="margin-bottom: 15px;" (click)="irA('nueva-contra')">
      Cambiar Contraseña
    </button>
  </div>

  <div class="contenedor-accion-guardar">
    <button type="button" class="boton-morado" (click)="guardarCambios()">
      Guardar cambios
    </button>
  </div>

  <div style="margin-top:20px;">
    <button
      type="button"
      class="boton-morado"
      style="background:#e74c3c; width:100%;"
      (click)="cerrarSesion()">

      Cerrar sesión

    </button>
  </div>

  <div class="nav-inferior">
      <div class="nav-item">
        <div class="nav-icono" routerLink="/panelprincipal">🏠</div>
        <span class="nav-texto">Inicio</span>
      </div>
      <div class="nav-item">
        <div class="nav-icono" routerLink="/mislibros">📚</div>
        <span class="nav-texto">Mis libros</span>
      </div>
      <div class="nav-item">
        <div class="nav-icono" routerLink="/prestamos">🔖</div>
        <span class="nav-texto">Préstamos</span>
      </div>
      <div class="nav-item">
        <div class="nav-icono" routerLink="/configuracion">👤</div>
        <span class="nav-texto">Perfil</span>
      </div>
    </div>

</div>